.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, #f0f8ff, #ffffff);
}
.check-page {
  background-color: white;
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 1px solid black;
  margin-bottom: 60px;
}
.page-two-main-container {
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 140px;
  border: 1px solid black;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading-component-one {
  align-self: flex-start;
  margin-top: 70px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 30px;
}
.check-box-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 0;
  margin: 0;
}
